@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


:root {
    --red: #d50000;
    --lred: #ff5252;
    --black: #0e1111;
    --gray: #353839;
    --white: #FEFBF6;
}

* {
    font-family: "Varela Round", sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    padding: 0; margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    user-select: none;
    scroll-behavior: smooth !important;
}

.heading {
    font-size: 4rem;
    color: var(--lred);
    text-align: center;
    padding: 0 1rem;
    padding-top: 6rem;
    letter-spacing: .2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.title {
    padding: 1rem 1rem;
    font-size: 2rem;
    text-align: center;
    font-weight: normal;
    color: var(--white);
}

.body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--white);
}

header {
    width: 96%;
    background-color: rgba(53,56,57,.6);
    position: fixed;
    top: 2rem; left: 50%;
    transform: translateX(-50%);
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1000;
    transition: .2s;
}

header .bar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .bar ul .btn {
    display: none;
}

header .bar ul li {
    margin: 0 1rem;
}

header .bar ul li a {
    font-size: 2rem;
    color: var(--lred);
    transition: .2s;
}

header .bar ul li .active {
    color: var(--white);
}

header .bar ul li a:hover {
    color: var(--red);
}

header .logo {
    font-size: 2.5rem;
    color: var(--white);
    text-transform: uppercase;
    transition:.2s;
}

header .logo i {
    color: var(--lred);
    padding: 0 .2rem;
    transition:.2s;
}

header .logo span {
    color: var(--lred);
    transition:.2s;
}

header .fa-bars {
    font-size: 3rem;
    color: var(--white);
    cursor: pointer;
    display: none;
    transition: .2s;
}

/* header .logo:hover {
    font-size: 2.5rem;
    color: var(--lred);
} */

header .logo:hover i,
header .logo:hover span {
    color: var(--red);
}

header .registerbtn {
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .registerbtn .btn {
    width: 100%;
    background-color: var(--lred);
    border: none;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    z-index: 1000;
    transition: .2s;
    cursor: pointer;
}

header .registerbtn .btn span {
    font-size: 2rem;
    color: var(--white);
}

header .registerbtn .btn:hover {
    background-color: var(--red);
}

.important {
    padding: 0; margin: 0;
    position: absolute;
}

.about {
    padding: 2rem;
    margin-bottom: -1.4rem;
    background: var(--black);
}

.about>h3 {
    margin: -1rem 0 1rem 0;
}

.about .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .row .content {
    padding-left: 5rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: var(--lred);
}

.about .row .content p {
    font-size: 1.6rem;
    color: var(--white);
    padding: 1rem 0;
    margin-right: 3rem;
    text-align: justify;
}

.about .row .content button {
    height: 3.5rem;
    width: 17rem;
    background: var(--lred);
    color: var(--white);
    border: none;
    border-radius: 5rem;
    box-shadow: 0 .3rem 1rem rgba(55, 58, 64,.3);
    cursor: pointer;
    font-size: 1.6rem;
    transition: .2s;
}

.about .row .content button:hover {
    background-color: var(--red);
}

.about .row .image img {
    height: 70vh;
    width: 50vw;
    margin-right: 1rem;
    border-radius: 1rem;
    object-fit: cover;
}

.members {
    background: var(--black);
    height: fit-content;
    margin-bottom: -6.4rem;
}

.members>h1 {
    padding-top: 7.8rem;
}

.members>h3 {
    margin: -1rem 0 -1rem 0;
}

.members .card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.members .card-container .card {
    padding: 2rem;
    border-radius: 1rem;
    margin: 2rem 2rem 4rem 2rem;
    background: var(--gray);
    text-align: center;
    width: 28rem;
    box-shadow: 0 .3rem .5rem rgba(55, 58, 64,.3);
}

.members .card-container .card img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
    filter: grayscale();
    border-radius: 1rem;
    transition: .2s;
}

.members .card-container .card:hover img {
    filter: grayscale(0);
}

.members .card-container .card h3 {
    color: var(--lred);
    font-size: 2rem;
    padding: .5rem 0;
}

.members .card-container .card p {
    font-size: 1.7rem;
    color: var(--white);
}

.championship {
    width: 100%;
    height: 101.2vh;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background: var(--black);
    flex-wrap: nowrap;
    overflow: hidden;
}

.championship>h1 {
    padding-top: 5.2rem;
}

.championship>h3 {
    margin: -1rem 0 .5rem 0;
}

.championship .container {
    width: 85%;
    height: 70vh;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem 0;
    flex-wrap: wrap;
}

.championship .container .box {
    width: 100%;
    margin: 2rem 2rem 0 2rem;
    border-radius: 1rem;
    display: flex;
    text-align: center;
    background: var(--gray);
    overflow: hidden;
    box-shadow: .3rem .3rem 0 .1rem var(--lred),
                .5rem .5rem .5rem rgba(55, 58, 64,.3);
}

.championship .container .box img {
    width: 40%;
    object-fit: cover;
    object-position: center;
}

.championship .container .box .content {
    width: 60%;
    padding: 3rem 3rem;
    display: block;
}

.championship .container .box .content h3 {
    font-size: 3rem;
    color: var(--lred);
    text-align: left;
    padding: 0 1rem 2rem 1rem;
    letter-spacing: .2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: justify;
}

.championship .container .box .content p {
    font-size: 1.3rem;
    color: var(--white);
    text-align: left;
    padding: 0 1rem 2rem 1rem;
    font-weight: normal;
    text-transform: none;
    text-align: justify;
}

.event {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin-top: -4rem;
    background: var(--black);
}

.event .container {
    width: 100%;
}

.event .blog-section {
    width: 85%;
    margin: -2rem auto 20px auto;
}

.event .blog-section .title {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 2rem 0 0 0;
}

.event .blog-section .title>h3 {
    margin: -2rem 0 .5rem 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7rem;
    margin: 25px auto;
}

.cards .card {
    width: 100%;
    height: 65vh;
    border-radius: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--gray);
    overflow: hidden;
    box-shadow: .3rem .3rem 0 .1rem var(--lred),
                .5rem .5rem .5rem rgba(55, 58, 64,.3);
}

.card .image {
    width: 100%;
    height: 50vh;
}

.card .image img {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: center;
}

.card .content {
    position: relative;
    padding: 15px 20px;
    display: block;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.card .content h4 {
    font-size: 20px;
    color: var(--lred);
    font-weight: bold;
}

.card .content p {
    font-size: 12px;
    color: var(--white);
    text-align: justify;
}

.card .content a {
    text-decoration: none;
    color: var(--white);
    margin-top: 12px;
    padding: 0;
}

.card .content a button {
    width: 100%;
    background-color: var(--lred);
    border: none;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    z-index: 1000;
    transition: .2s;
    cursor: pointer;
}

.card .content a button span {
    font-size: 1.6rem;
    color: var(--white);
}

.card .posted-day {
    position: absolute;
    top: 0; left: 0;
    border-bottom-right-radius: 1rem;
    display: inline-block;
    color: var(--white);
    background-color: var(--lred);
    padding: 6px 15px;
}

.card .content a button:hover {
    background: var(--red);
}

.register {
    background: var(--black);
}

.register>h1 {
    padding-top: 7.8rem;
}

.register>h3 {
    margin: -1rem 0 -4.5rem 0;
}

.register .row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
}

.register .row .image {
    border-radius: 1rem;
    padding: 3rem;
}

.register .row .image img {
    width: 50vw;
    height: 70vh;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}

.register .row .form-container {
    width: 50%;
    padding-right: 6rem;
}

.register .row .form-container input, textarea {
    height: 4rem;
    width: 100%;
    background: var(--white);
    border: .12rem solid var(--lred);
    border-radius: 5rem;
    padding: 0 1rem;
    margin: 1rem 0;
    color: var(--black);
    font-size: 1.7rem;
}

.register .row .form-container textarea {
    height: 32rem;
    border-radius: 1rem;
    padding: 1rem;
    resize: none;
    overflow: hidden;
}

.register .row .form-container input[type=submit] {
    height: 4.5rem;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--lred);
    color: var(--white);
    border: none;
    border-radius: 5rem;
    box-shadow: 0 .3rem 1rem rgba(55, 58, 64,.3);
    cursor: pointer;
    font-size: 3rem;
    transition: .2s;
}

.register .row .form-container input[type=submit]:hover {
    background: var(--red);
}


header .fa-times {
    transform: rotate(180deg);
    color: var(--lred);
}

.header-active {
    top: 0;
    left: 49.9%;
    width: 100%;
    border-radius: 0;
    background: var(--gray);
    box-shadow: 0 .1rem .3rem rgba(55, 58, 64,.8);
}

.home {
    position: fixed;
    min-height: 100vh;
    background: var(--black);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.home .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-top: 24rem;
    padding-bottom: 8rem;
    text-align: center;
}

.home .content h1 {
    font-size: 5rem;
    color: var(--white);
    padding: 0 1rem;
    text-shadow: 0 .3rem .5rem rgba(55, 58, 64,.8);
    text-transform: uppercase;
}

.home .content p {
    text-transform: none;
    font-size: 2rem;
    color: var(--white);
    padding: 1rem 25rem;
}

.home .content button {
    height: 4rem;
    width: 20rem;
    border-radius: 5rem;
    background: var(--lred);
    color: var(--white);
    font-size: 2rem;
    cursor: pointer;
    transition: .2s;
    border: none;
    box-shadow: 0 .3rem 1rem rgba(55, 58, 64,.3);
}

.home .content button span {
    font-weight: bold;
    text-transform: uppercase;
}

.home .content button:hover {
    background: var(--red);
}

.bg-clip {
    padding: 0;
    position: fixed;
    right: 0; bottom: 0;
    min-width: 102.5%;
    min-height: 100%;
    z-index: -1;
    transform: translateX(calc((100% - 100vw) / 2));
    filter: blur(2px) brightness(60%);
}

.bg-music {
    position: fixed;
    right: 8px;
    bottom: 8px;
}


@media (min-aspect-ratio:16/9) {
    .bg-clip {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .bg-clip {
        width: auto;
        height: 100%;
    }
}


@media screen and (max-width:768px) {
    html {
        font-size: 55%;
    }

    header .fa-bars {
        display: block;
    }

    header .bar {
        position: fixed;
        top: -100rem; left: 0;
        width: 100%;
        background-color: var(--gray);
        border-radius: 1rem;
        opacity: 0;
        transition: .4s linear;
    }

    header .bar-toggle {
        top: 5.5rem;
        opacity: 1;
    }

    header .logo:hover i,
    header .logo:hover span {
        color: var(--lred);
    }

    header .bar ul {
        flex-flow: column;
        padding: 2rem 0;
    }

    header .bar ul a .btn {
        width: 100%;
        background-color: var(--lred);
        border: none;
        border-radius: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 2rem;
        z-index: 1000;
        transition: .2s;
        cursor: pointer;
    }

    header .bar ul a .btn span {
        font-size: 3rem;
        color: var(--white);
    }

    header .bar ul a .btn:hover {
        background-color: var(--lred);
    }

    header .bar ul li {
        margin: 1rem 0;
        width: 100%;
        text-align: center;
    }

    header .bar ul li a {
        font-size: 3rem;
        display: block;
    }

    header .bar ul li a:hover {
        color: var(--lred);
    }

    header .registerbtn .btn {
        display: none;
    }

    .home .content p {
        padding: 1.5rem 2rem;
    }

    .home .content button:hover {
        background: var(--lred);
    }

    .home::before {
        display: none;
    }

    .about .row {
        flex-flow: column-reverse;
    }

    .about .row .image img {
        height: 60vh;
        width: 90vw;
        object-fit: cover;
    }

    .about .row .content {
        padding: 0 2.5rem;
        margin-bottom: 5rem;
    }

    .about .row .content h3 {
        padding-top: 1rem;
    }

    .about .row .content p {
        margin-right: 0;
    }

    .about .row .content button:hover {
        background-color: var(--lred);
    }

    .championship {
        width: 100%;
        height: fit-content;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        background: var(--black);
        height: fit-content;
        flex-wrap: nowrap;
        overflow: hidden;
    }
    
    .championship>h1 {
        padding-top: 7.5rem;
    }
    
    .championship>h3 {
        margin: -1rem 0 .5rem 0;
    }
    
    .championship .container {
        width: 85%;
        height: fit-content;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 1rem 0 2rem 0;
        flex-wrap: wrap;
    }
    
    .championship .container .box {
        width: 100%;
        margin: 2rem 2rem 0 2rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: var(--gray);
        overflow: hidden;
        box-shadow: .3rem .3rem 0 .1rem var(--lred),
                    .5rem .5rem .5rem rgba(55, 58, 64,.3);
    }
    
    .championship .container .box img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    .championship .container .box .content {
        width: 100%;
        padding: 3rem 3rem;
        display: block;
    }
    
    .championship .container .box .content h3 {
        font-size: 3rem;
        color: var(--lred);
        text-align: left;
        padding: 0 1rem 2rem 1rem;
        letter-spacing: .2rem;
        font-weight: bold;
        text-transform: uppercase;
        text-align: left;
    }
    
    .championship .container .box .content p {
        font-size: 1.3rem;
        color: var(--white);
        text-align: left;
        padding: 0 1rem 2rem 1rem;
        font-weight: normal;
        text-transform: none;
        text-align: justify;
    }

    .event {
        height: fit-content;
        padding-bottom: 2rem;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    .register .row {
        flex-flow: column;
    }

    .register .row .image img {
        height: 50vh;
        width: 90vw;
    }

    .register .row .form-container {
        width: 90%;
        padding: 0;
    }

    .register .row .form-container textarea {
        height: 33rem;
    } 
}


@media screen and (max-width: 992px) {
    .event {
        height: fit-content;
        padding-bottom: 2rem;
    }

    .cards {
        grid-template-columns: 1fr;
        height: fit-content;
    }
}